html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif,'DejaVu Sans';
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    margin: 50px;
    flex-direction: column;
    text-align: center;
}

.content{
    /*width: 60%;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    background-color: rgb(241, 241, 187) !important;
    
}

td,th/*,li*/{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 12px 20px 12px 20px !important;
    text-align: center !important;
    min-width: 150px;
}

th{
    text-transform: capitalize;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.8);
    color: white;/*rgb(44, 44, 44);*/
    
}

.clickable:hover{
    background-color: #204d74;
    color: white;
    cursor: pointer;
}

.title{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.topContainer{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.top-title,.addUserIcon{
    display: inline-block;
}
.addUserIcon{
    float: right;
    margin-left: 100px;
}
.addUserIcon i{
    font-size: 25px;
}

.addUserIcon i:hover{
    color: red;
    cursor: pointer;
}

.modal-dialog{
    width: 500px !important;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-form{
    width: 300px;
    clear: both;
}
.modal-body form{
    display: flex;
    flex-direction: column;    
}

.modal-body input{
    width: 100%;
    clear: both;
    padding-left: 10px;
}

div.ErrorContainer{
    background-color: white;
    border: 4px solid red;
    border-radius:10px;
    padding: 20px 20px;
    box-shadow: 20px 20px 20px;
    animation: infinite resplandorAnimation 2s;
    float: right;
    margin: 5px;
    z-index: 99999;
    position: fixed;
    right: 10%;
    display: none;
}

.Error{
    margin: 10px;
}

@keyframes resplandorAnimation {
  0%,100%{
    box-shadow: 10px 20px 20px;
  }
  50%{
  box-shadow: 0px 0px 0px;
  
  }

}

.ExpandBtn{
    width: 100px !important;
    border-radius: 0px !important;
}